name: Pull Request

on:
  pull_request:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  quality_checks:
    uses: NHSDigital/eps-workflow-quality-checks/.github/workflows/quality-checks.yml@v4.1.0
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  
  pr_title_format_check:
    uses: ./.github/workflows/pr_title_check.yml
