name: Pull Request

on:
  pull_request:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  quality_checks:
    uses: NHSDigital/eps-workflow-quality-checks/.github/workflows/quality-checks.yml@v5.1.4
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pr_title_format_check:
    uses: NHSDigital/eps-workflow-semantic-release/.github/workflows/pr_title_check.yml@f3d071da30cd01dc0e4472ac0e2d7452db78d1c7

  run_basic_regression_test:
    uses: ./.github/workflows/regression_tests.yml
    with:
      tags: "@ping"
      environment: INTERNAL-DEV
      product: EPS-FHIR
      id: "Pull Request Basic Regression Tests"
